# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE/editor settings
.vscode/
.idea/

# Environment variables (like API keys)
.env

# Streamlit temporary files
.streamlit/
